/* Layout Main */

html {
    height: 100%;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #0d0d0f, #1d1d1F, #ffcc33);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* botao flutuante / user_layout */

.b-b-1-g {
    border-bottom: 1px solid #06a800;
}

.b-b-1 {
    border-bottom: 1px solid rgb(255, 255, 0);
}

.b-t-1 {
    border-top: 1px solid rgb(255, 255, 0);
}

.alert_default_g {
    width: 360px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0);
    border: 2px solid #06a800;
    height: auto;
    padding: 10px;
}

.alert_default {
    width: 360px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0);
    border: 2px solid rgb(255, 255, 0);
    height: auto;
    padding: 10px;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 10;
}

.fab button {
    cursor: pointer;
    height: auto;
    border-radius: 30px;
    background-color: rgb(207, 207, 0);
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    font-size: 30px;
    color: rgb(0, 0, 0);
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button:focus {
    outline: none;
}

.fab button.main {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 0);
    right: 0;
    bottom: 0;
    z-index: 20;
}

.fab button.main:before {
    content: '✉';
}

.fab ul {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    z-index: 10;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab ul li {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.fab.show button.main,
.fab.show button.main {
    outline: none;
    background-color: rgb(235, 235, 3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

.fab.show button.main:before,
.fab.show button.main:before {
    content: '↑';
}

.fab.show button.main+ul,
.fab.show button.main+ul {
    bottom: 70px;
}

.fab.show button.main+ul li,
.fab.show button.main+ul li {
    margin-bottom: 10px;
    opacity: 1;
}


/* ============================================= */

.content {
    padding-bottom: 10em;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}


/*
body {
    background: url('../img/bg.jpg') no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    font-family: "Roboto", helvetica, arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    min-height:100%;
    position:relative;
} */

#header img {
    width: 75px;
    height: 60px;
}

.header {
    position: fixed;
    width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 2px solid yellow!important;
    z-index: 5;
    margin-top: 0;
}

#logo {
    font-size: 1.2em;
    cursor: default;
}

#logo h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
}

#logo .tag {
    color: rgba(100, 100, 100, 0.829);
    display: inline-block;
    font-size: 15px;
}

.logout {
    position: absolute;
    margin: 0.9em 0em;
    display: inline-block;
    padding: 0em 1em;
    right: 0;
    color: rgb(255, 255, 255);
}

#nav {
    position: absolute;
    right: 0;
    top: 2;
    cursor: default;
    margin-right: 17em;
}

#nav ul li {
    margin: 0.9em 0em;
    display: inline-block;
    padding: 0em 0.5em;
    border-right: 2px solid rgba(255, 255, 0, 0.514);
}

#nav ul li:last-child {
    border-right: 2px solid rgba(243, 29, 22, 0);
    padding-right: 2em;
}

#nav ul li a {
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    display: inline-block;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

#nav ul li a:hover {
    color: #fff;
}

.modal-input {
    border: 1px solid;
    border-radius: 25px;
    border-color: #A2A2A2;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
}

.modal-select {
    border: 1px solid;
    border-radius: 25px;
    border-color: #A2A2A2;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    color: rgb(0, 0, 0);
}


/*-----------------------------Modal User-----------------------------------
  [ Input ]*/

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #bbbbbb;
    margin-bottom: 37px;
}

.input {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #06a800;
    background: -webkit-linear-gradient(left, #e5ed00, #06a800);
    background: -o-linear-gradient(left, #e5ed00, #06a800);
    background: -moz-linear-gradient(left, #e5ed00, #06a800);
    background: linear-gradient(left, #e5ed00, #06a800);
}

.focus-input::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.option{
    background: #666666;
    color: #fff;
}

.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val.input+.focus-input::after {
    top: -15px;
}

.has-val.input+.focus-input::before {
    width: 100%;
}


.m-r-l {
    margin: 80px 50px;
}

.subject-dispatch {
    padding: 15px;
    margin-top: 20px;
    width: 80%;
    height: 220px;
    border: 1px solid#adadad;
    border-radius: 10px;
}

.textarea {
    outline: none;
    border: 2px solid#adadad;
    border-radius: 5px;
    padding: 10px;
}

.textarea:focus {
    outline: none;
    border: 2px solid #d0ff00;
    box-shadow: 0 0 5px #076e0f;
    border-radius: 5px;
    padding: 10px;
}

.notification {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center
}

.permissions {
  height: 350px;
  overflow-x: hidden;
}


.permissions::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.permissions::-webkit-scrollbar-track {
  background: rgb(116, 115, 115);
  border-radius: 5px;
}

.permissions::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(116, 115, 115);  /* creates padding around scroll thumb */
}


/* Tela de login */

/* [ AVISOS ] */

/*[ FONT ]*/
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #08ec00;
    color: -webkit-linear-gradient(left, #e5ed00, #06a800);
    color: -o-linear-gradient(left, #e5ed00, #06a800);
    color: -moz-linear-gradient(left, #e5ed00, #06a800);
    color: linear-gradient(left, #e5ed00, #06a800);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin: 0px;
}
ul,
li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}
select {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
    width: 100%;
}
textarea:focus {
    border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus:-moz-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus:-ms-input-placeholder {
    color: transparent;
}
input::-webkit-input-placeholder {
    color: #adadad;
}
input:-moz-placeholder {
    color: #adadad;
}
input::-moz-placeholder {
    color: #adadad;
}
input:-ms-input-placeholder {
    color: #adadad;
}
textarea::-webkit-input-placeholder {
    color: #adadad;
}
textarea:-moz-placeholder {
    color: #adadad;
}
textarea::-moz-placeholder {
    color: #adadad;
}
textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}
.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: rgb(33, 160, 1);
    line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
  [ login ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.img-login {
    height: 3em;
    padding: 0;
    margin: 0;
}
.padding-title {
    padding-bottom: 10px;
}
.wrap-login100 {
    width: 390px;
    background: #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-register100 {
    width: 750px;
    background: #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@media (max-height:700px) {
    .wrap-register100 {
        width: 350px;
        max-height: 590px;
        padding: 45px 55px 20px 55px;
    }
}

@media (max-height:700px) {
    .wrap-login100 {
        width: 350px;
        max-height: 590px;
        padding: 45px 55px 20px 55px;
    }
}

/*------------------------------------------------------------------
  [ Form ]*/
.login100-form {
    width: 100%;
}
.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}
.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
  [ Input ]*/
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #b6b6b6;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #06a800;
    background: -webkit-linear-gradient(left, #e5ed00, #06a800);
    background: -o-linear-gradient(left, #e5ed00, #06a800);
    background: -moz-linear-gradient(left, #e5ed00, #06a800);
    background: linear-gradient(left, #e5ed00, #06a800);
}
.focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.input100:focus+.focus-input100::after {
    top: -15px;
}
.input100:focus+.focus-input100::before {
    width: 100%;
}
.has-val.input100+.focus-input100::after {
    top: -15px;
}
.has-val.input100+.focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-show-pass:hover {
    color: #06a800;
    color: -webkit-linear-gradient(left, #e5ed00, #06a800);
    color: -o-linear-gradient(left, #e5ed00, #06a800);
    color: -moz-linear-gradient(left, #e5ed00, #06a800);
    color: linear-gradient(left, #e5ed00, #06a800);
}
.btn-show-pass.active {
    color: #06a800;
    color: -webkit-linear-gradient(left, #e5ed00, #06a800);
    color: -o-linear-gradient(left, #e5ed00, #06a800);
    color: -moz-linear-gradient(left, #e5ed00, #06a800);
    color: linear-gradient(left, #e5ed00, #06a800);
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}
.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #035700;
    background: -webkit-linear-gradient(right, #a8ab00, #035700, #a8ab00, #035700);
    background: -o-linear-gradient(right#a8ab00, #035700, #a8ab00, #035700);
    background: -moz-linear-gradient(right, #a8ab00, #035700, #a8ab00, #035700);
    background: linear-gradient(right, #a8ab00, #035700, #a8ab00, #035700);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 17px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}


